:root {
  --mainGreen: #698269;
  --mainIcon: #141211;
  --mainBrown: #B99B6B;
  --mainBeige: #FAECD6;
  --mainDark: #20262E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainBrown);
  font-size: 17px;
  font-family: 'Inconsolata';
  text-align: justify;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  text-transform: lowercase;
}

main {
  background-color: white;
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
}

main .head header h1 {
  font-size: 36px;
  text-align: center;
  color: var(--mainDark);
}

main .dane {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 110px;
}

main .dane .firstDane {
  text-align: right;
  margin-right: 30px;
  margin-left: 30px;
}

main .dane .firstDane p {
  margin-top: 15px;
}

main .secondDane {
  text-align: left;
  margin: 50px;
  line-height: 150%;
}

main .secondDane b {
  font-size: 20px;
  padding: 30px;
}

main .secondDane ul > li {
  margin-left: 80px;
}

main .secondDane h4 {
  padding: 20px;
}

main .rodo {
  font-size: 10px;
  padding: 10px;
}

main .line {
  border: 2px dotted var(--mainGreen);
  margin: 30px 40px;
}

footer {
  padding: 30px;
  display: flex;
  align-content: space-between;
  justify-content: center;
  gap: 10px;
}

footer a {
  text-decoration: none;
  color: var(--mainBeige);
}

footer .button {
  border-radius: 13px;
  background-color: var(--mainGreen);
  padding: 20px;
}

footer .button:hover {
  -webkit-box-shadow: 8px 8px 24px 0px #4e452e;
  -moz-box-shadow: 8px 8px 24px 0px #4e452e;
  box-shadow: 8px 8px 24px 0px #4e452e;
  color: var(--mainDark);
}

/* phones */
@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  main {
    width: 100vw;
  }
  main .dane {
    flex-direction: column;
    justify-content: center;
  }
  main h1 {
    font-size: 22px;
    padding: 0;
  }
  main header h1 {
    font-size: 20px;
  }
  main ul > li {
    margin: 10px;
  }
  main .line {
    margin-right: 0;
    margin-left: 0;
  }
  main .secondDane {
    padding: 0;
    margin: 0;
  }
  footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100vw;
  }
  footer .button {
    padding: 0;
  }
}
