
.icon-up-open:before { content: '\e800'; } /* '' */
.icon-home-1:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
